[Unit]
Description=pwmfan service
After=mnt-USBPi.mount

[Service]
StandardOutput=append:/mnt/USBPi/Measurements/pwm.txt
StandardError=append:/mnt/USBPi/Measurements/pwm.txt
ExecStart=/usr/bin/python3 -u /home/pi/Software/pwmfan/pwmfan.py
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
